.editor {
  background-color: beige;
  border: 2px solid silver;
  padding: 20px;
}

.editor > p {
  /*white-space: pre-wrap; /* needed on Firefox */
}

.editor:focus {
  border-style: dashed;
  outline: unset;
}

.block {
  display: block;
  width: 200px;
  height: 100px;
  background-color: red;
}
